

:root{
    --text-color: #222222;
    --text-matrix: #222222;
    --background-body: #ffffff;
    --background-nav: #ffffff;
    --like:#cddffc;
    --comment:#fcf3da;
    --share:#ece2fb;
    --shodow:rgba(0, 0, 0, 0.1); 
    --border:#222222;
}

.darkmode{
    --text-color: #d4d4d4;
    --background-body: #1e1e1e;
    --background-nav: #252526;
    --shodow:rgba(226, 226, 226, 0.1);
    --border: #353535;
    --focus-border: #8b8b8b;

    --primary-color:  #333333;
    --seconday-color: #ff3366;
}

body {
    display: flex;
    flex-direction: row;

    width: 100%;

    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-body);
}

/* body.shift {
    min-width: 1460px;
} */

.sidebar {
    box-shadow: 0 0 10px var(--shodow);
    width: 100%;
    max-width: 320px;
    background:var(--background-nav);
    position: fixed;
    height: 100vh;
    top: 0;
    left: -320px;
    transition: all 0.3s ease;
    overflow: auto;
    z-index: 1;
    transition: left 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), max-width 0.3s ease;
    /* เพิ่มแอนิเมชันที่สมูทขึ้น */
}

.sidebar.active {
    left: 0;
}

.icon-nav {
    font-size: 20px;
    color: var(--text-color);
}

.bottom-items {
    position: absolute;
    /* Positions at the bottom of sidebar */
    bottom: 0;
    /* Ensures it sticks to the bottom */
    width: 100%;
    /* Ensures it stretches across the sidebar width */
}

.sidebar ul {
    padding: 0;
    margin: 30px 0px 0px 30px;
}

.sidebar li {
    display: block;
    overflow-x: hidden;
    
}

.sidebar ul li {
    padding: 15px 20px;
   
    font-family: sans-serif;
    font-weight: 500;
}

.text-navbar {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    margin: 0px 0px 0px 10px;
    font-size: 20px;
    color: var(--text-color);

    transform:  margin-left 0.3s ease;

    /* background-color: blueviolet; */
}


li {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* เพิ่มการเปลี่ยนแปลงแอนิเมชัน */
}

li:hover, .text-navbar:hover {
    transform: scale(1.1); /* ขยายขนาดขึ้น 10% */
    color: #8698f0;

}

.sidebar ul li a {
    color: #303030;
    text-decoration: none;
    white-space: nowrap; /* ป้องกันการแสดงผลในหลายบรรทัด */
}

/* Hover effect */
.sidebar a:hover i,
.sidebar a:hover .text-navbar {
    color: #8698f0;

    /* Change icon and text color on hover */
}

/* Codinglab */
.box-codinglab {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    min-height: 70px;

    margin: 24px 0px 0px 0px;
    padding: 0px 0px 0px 70px;
    transition: padding 0.3s ease;

    /* background-color: #f1d0d0; */
}

.cl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #7266f4;
    color: #ffffff;
    min-width: 60px;
    min-height: 60px;
    border-radius: 100px;

    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;

}

.codinglab {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 800;
    transform:  margin-left 0.3s ease;
    color: var(--text-color);
}


/* main */
.main-content {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    /* margin-left: 335px; */
    padding: 30px 20px 20px 20px;
    /* margin-right: 17px; */
    transition: transform 0.3s ease, width 0.3s ease;
    /* 
    background-color: #a7a0f1; */

}

.main-content.shift {
    transform: translateX(140px);
    width: 70%;

}

@media (min-width: 825px) and (max-width: 1315px) {

    .sidebar {
        max-width: 100px;
    }

    .codinglab {
        visibility: hidden;
    }
    .text-navbar {
       visibility: hidden;
    }
    
    .main-content.shift {
        transform: translateX(50px);

    }

    .box-codinglab {
        min-height: 70px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 20px;

    }

    .sidebar ul {
        margin: 30px 0px 0px 20px;
    }
}


