body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: Arial, sans-serif;
}

body.shift {
    min-width: 1460px;
}

.sidebar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    background: #ffffff;
    position: fixed;
    height: 100vh;
    top: 0;
    left: -320px;
    transition: all 0.3s ease;
    overflow: auto;
    z-index: 1;
    transition: left 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); /* เพิ่มแอนิเมชันที่สมูทขึ้น */
}

.sidebar.active {
    left: 0;
}

.icon-nav {
    font-size: 20px;
}

.bottom-items {
    position: absolute;
    /* Positions at the bottom of sidebar */
    bottom: 0;
    /* Ensures it sticks to the bottom */
    width: 100%;
    /* Ensures it stretches across the sidebar width */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 30px 0px 0px 30px;
}

.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-family: sans-serif;
    font-weight: 500;
}

.text-navbar {
    margin: 0px 0px 0px 10px;
    font-size: 20px;
    color: #303030;
}

.sidebar ul li a {
    color: #303030;
    text-decoration: none;
    display: block;
}

/* Hover effect */
.sidebar a:hover i,
.sidebar a:hover .text-navbar {
    color: #8698f0;
    /* Change icon and text color on hover */
}

/* Codinglab */
.box-codinglab {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    min-height: 70px;

    margin: 24px 0px 0px 0px;
    padding: 0px 0px 0px 70px;

    /* background-color: #f1d0d0; */
}

.cl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #7266f4;
    color: #ffffff;
    min-width: 60px;
    min-height: 60px;
    border-radius: 100px;

    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;

}

.codinglab {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 800;
}


/* main */
.main-content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-width: fit-content;
    width: 50%;

    /* margin-left: 335px; */
    padding: 30px 20px 20px 20px;
    /* margin-right: 17px; */
    transition: transform 0.3s ease;

    /* background-color: #a7a0f1; */
    
}

.main-content.shift {
    transform: translateX(15px);

}

@media (max-width: 1200px) {
    .main-content {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .main-content {
        width: 70%;
        padding: 30px 10px 10px 10px;
    }
}

@media (max-width: 400px) {
    .main-content {
        padding: 10px 5px 0px 5px;
        margin-right: 0px;
    }
}


