.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-top: 25px;
    /* background-color: #627aec; */
}

h1 {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
}

.container-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 14px;
    padding: 2px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: #627aec;
}

.matrix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 175px;
    border-radius: 20px;
    padding: 10px;
    color: #000000;
}

#like {
    background-color: #cddffc;
}

#comment {
    background-color: #fcf3da;
}

#share {
    background-color: #ece2fb;
}

.dashboard-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 10px;
    width: 100%;
  
}

.matrix-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.matrix-title {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.matrix-number{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 400;
}

/* Media Queries for Responsive Design */

/* สำหรับหน้าจอที่มีขนาดต่ำกว่า 1200px */
@media (max-width: 1200px) {
    /* .dashboard-content {
    } */
    .matrix {
        border-radius: 16px;
       
    }
}

/* สำหรับหน้าจอที่มีขนาดต่ำกว่า 900px */
@media (max-width: 900px) {
    .dashboard-content {
        grid-template-columns: repeat(3, 1fr);;
    }

    .matrix {
        width: 90%;
        height: auto; /* ให้ความสูงของ matrix ปรับตามเนื้อหา */
    }

    .matrix-icon {
        font-size: 20px;
    }

    .matrix-title {
        font-size: 16px;
    }

    .matrix-number {
        font-size: 26px;
    }
}

@media (max-width: 400px) {
    .dashboard-content {
        grid-template-columns: repeat(3, 1fr);;
        gap: 10px;
    }
    .matrix {
        width: 80%;
        height: auto; /* ให้ความสูงของ matrix ปรับตามเนื้อหา */
    }

    .matrix-icon {
        font-size: 16px;
    }

    .matrix-title {
        font-size: 12px;
    }

    .matrix-number {
        font-size: 18px;
    }
}