
.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
    width: 100%;
    margin-top: 35px;

    /* background-color: #afafaf; */
}

h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}

.container-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.icon-title{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    margin-right: 14px;
    padding: 2px;
    border-radius: 8px;
    color: rgb(255, 255, 255);

    background-color: #627aec;

}

.matrix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 150px;
    border-radius: 20px;

    padding: 10px;
    color: #000000;
}

#like{
    background-color: #cddffc;
}

#comment{
    background-color: #fcf3da
}

#share{
    background-color: #ece2fb;
}

.dashboard-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 10px;
}

.matrix-icon{
  font-size: 30px;
  margin-bottom: 10px;
}

.matrix-title{
   font-size: 18px;
   font-family: sans-serif;
   font-weight: 500;
   margin-bottom: 10px;
 
}
.matrix-number{
   font-size: 38px;
   font-family: sans-serif;
   font-weight: 400;
}



