.recent-activity {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 100%;
    max-height: fit-content;
    margin-top: 35px;
    /* background-color: aqua; */

}

.container-table {
    width: 100%; /* ความกว้างเต็มที่ของพาเรนต์ */
} 

#dataTable {
    width: 100%; /* ความกว้างของตาราง (กำหนดให้กว้างเกินพื้นที่พาเรนต์) */
    min-width: 700px; /* กำหนดความกว้างขั้นต่ำของตาราง */
    border-collapse: collapse; /* ทำให้ขอบของเซลล์ไม่ซ้อนกัน */
    /* background-color: aquamarine; */
    
}

#dataTable th,
#dataTable td {
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* ป้องกันการตัดบรรทัด */
    overflow: hidden; /* ซ่อนข้อความที่ยาวเกินไป */
    text-overflow: ellipsis; /* แสดง ... เมื่อข้อความเกินขอบเขต */
    font-size: 18px;
}

#dataTable th {
    font-weight: bold;
}

@media (min-width: 375px) and (max-width: 739px) {
    .container-table {
        width: calc(100vw - 40px);
       border: rgb(208, 208, 208);
       border-radius: 14px; 
       border-style: solid; 
       padding: 0;
       overflow-x:scroll ;
    } 
}
