.recent-activity {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 100%;
    margin-top: 35px;

    /* background-color: #afafaf; */
}

#dataTable {
    max-width: 754px;
    width: 100%;
    border-collapse: none; /* ทำให้เส้นขอบเชื่อมติดกัน */
    margin-top: 10px;
    /* background-color: aqua; */
}

#dataTable th,
#dataTable td {
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* ป้องกันการตัดบรรทัด */
    overflow: hidden; /* ซ่อนข้อความที่ยาวเกินไป */
    text-overflow: ellipsis; /* แสดง ... เมื่อข้อความเกินขอบเขต */

}

#dataTable th {
    font-weight: bold;
}