.content-hamburger-search {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 754px;
    width: 100%;

    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* background-color: #b3e192; */
}

.search {
    width: 100%;
    min-height: 30px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0px 26px 0px 26px;
    transition: transform 0.3s ease;
    /* Smooth movement */
}

.hamburger {
    font-size: 26px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* เอฟเฟกต์ hover */
.hamburger:hover {
    transform: scale(1.1);
    /* ขยายขนาดขึ้น 10% */
    color: #8698f0;
    /* เปลี่ยนสีเป็นสีที่ต้องการ */
}


img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}